@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Croissant+One&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  margin: 0;
  background: #000;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

header {
  border-bottom: 2px solid #616161;
  width: 100%;
  background: #000;
}

.Navbar {
  background: transparent;
  display: flex;
  padding: 0px;
  height: 72px;
  font-family: sans-serif;
  gap: 5rem;
  justify-content: space-around;
  color: #fff;
  align-items: center;
}

.Navbar img {
  width: 64px;
  height: 64px;
}

nav .Navbar__Link {
  padding: 4px;
  opacity: 0.6;
  border-radius: 15px;
  transition: transform 0.2s ease;
  transform-origin: center;
}

nav .Navbar__Link:hover {
  opacity: 1;
  transform: scale(1.05);
}

.logotype {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Croissant One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.56px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.Navbar__Items {
  display: flex;
  gap: 2rem;
}

.Navbar__Items a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 10px 10px;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

main {
  min-height: 100vh;
}

footer {
  border-top: 2px solid #616161;
  display: flex;
  align-items: center;
  position: static;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: transparent;
  color: #fff;
  background: #000;
}

footer > p {
  margin: 0 auto;
  text-align: center;
}

main > section:first-child {
  min-height: 100vh;
}

/* Forms */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

main form {
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 750px;
  border-radius: 15px;
  color: #fff;
  gap: 25px;
  position: absolute;
  /**/
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
}

.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 750px;

  background: conic-gradient(
    from 180deg at 50% 50%,
    #04d939 0deg,
    #012340 125.99999785423279deg,
    #027333 244.80000257492065deg,
    #012340 360deg
  );
  filter: blur(120px);
  z-index: -1;
}

main form input,
textarea {
  color: #fff;
}

main form input::placeholder,
textarea::placeholder {
  color: #bbbbbb;
}

main form input:hover,
textarea:hover {
  border-radius: 5px;
  background: rgba(82, 82, 82, 0.75);
}

main form input:focus,
textarea:focus {
  border-radius: 5px;
  background: rgba(53, 53, 53, 0.75);
}

main form input[type="submit"]:hover {
  background: #004265;
  transform: scale(1.02);
  transition: 0.3s;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.social-medias {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}

.social-medias i {
  font-size: 30px;
  color: #fff;
  transition: 0.2s;
  transform: scale(1);
}

.social-medias i:hover {
  background: rgba(82, 82, 82, 0.75);
  border-radius: 10px;
  padding: 2px;
  color: #004265;
  border: 2px solid #004265;
  transform: scale(1.2);
}

form input:not([type="submit"]) {
  margin-top: 5px;
  padding: 10px;
  background: none;
  outline: none;
  border-style: none;
  border-bottom: 1px solid #ffffff2f;
}

form input[type="submit"] {
  background: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
  border: 1px solid #ffffff2f;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

textarea {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin-top: 5px;
  background: none;
  outline: none;
  border-style: none;
  border: 1px solid #ffffff2f;
  border-radius: 10px;
  resize: none;
}

/* Forms */

@media only screen and (max-width: 870px) {
  .Navbar {
    gap: 3rem;
  }
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    margin: 35px;
  }
}

@media screen and (max-width: 1120px) {
  .Navbar__Items a {
    font-size: 14px;
    text-align: center;
  }

  .Navbar__Items > .Navbar__Link {
    margin: 0px 5px;
    padding: 4px;
  }
}

@media screen and (max-width: 768px) {
  main form {
    width: 450px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
  }

  .background {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 520px) {
  main form {
    width: 320px;
    height: auto;
    padding: 20px;
    margin: 0 2px;
  }

  .logotype {
    font-size: 24px;
    margin-right: 30px;
  }

  .background {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  main form {
    width: 300px;
    height: auto;
    padding: 40px;
    margin: 0 2px;
  }

  .logotype {
    font-size: 24px;
    margin-right: 30px;
  }

  .background {
    width: 250px;
    height: 250px;
  }
}

.main-about {
  background: #000;
  padding-bottom: 200px;
}

.section-about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.content-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.content {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: #004265 0px 0px 10px 10px;
  backdrop-filter: blur(70px);
  text-align: center;
  width: 520px;
  height: 450px;
  border-radius: 25px;
  overflow: hidden;
  padding: 4px;
}

.content img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.content img:first-child {
  border-radius: 25px 0 0 25px;
}

.content img:last-child {
  border-radius: 0 25px 25px 0;
}

.content-text {
  padding: 25px;
}

.content h2 {
  font-size: 34px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.content p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .content-box {
    gap: 2rem;
    height: auto;
    padding-bottom: 50px;
  }

  .content {
    width: 80%;
  }
}

.index-main {
  background: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produtos {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 5rem 0;
  gap: 3.5rem;
  flex-wrap: wrap;
}

.produtos > .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.produtos h1 {
  color: #fff;
}

.item-produto {
  background: rgba(43, 43, 43, 0.3);
  box-shadow: 5px 5px 100px 50px rgba(31, 66, 135, 0.2);
  border-radius: 15px;
  width: 450px;
  height: 750px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.item-produto img {
  border-bottom: rgb(255, 255, 255) 7px solid;
  width: 100%;
  height: 450px;
}

.item-produto h2 {
  color: #fff;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 20px 0;
}

.item-produto h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 2px;
}

.preco {
  font-size: 20px;
  font-weight: bold;
  margin: 2rem 0;
}

.detalhes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.item-produto h3:last-child {
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 5%;
}

.item-produto p {
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.item-produto .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.info p {
  margin-bottom: 10px;
}

.novidades {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  gap: 3.5rem;
  flex-wrap: wrap;
}

.item-novidades {
  background: rgba(43, 43, 43, 0.3);
  box-shadow: 5px 5px 100px 50px rgba(31, 66, 135, 0.2);
  border-radius: 15px;
  width: 450px;
  height: 750px;
  display: flex;
  flex-direction: column;
}

.item-novidades > div {
  padding: 40px;
}

.item-novidades img {
  border-bottom: rgb(255, 255, 255) 7px solid;
  width: 450px;
  height: 450px;
  border-radius: 15px 15px 0 0;
}

.item-novidades h2 {
  color: #fff;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-bottom: 40px;
}

.item-novidades p {
  color: #fff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 5rem 0;
  gap: 3.5rem;
  flex-wrap: wrap;
}

.item-sobre {
  background: rgba(43, 43, 43, 0.3);
  box-shadow: 5px 5px 100px 50px rgba(31, 66, 135, 0.2);
  border-radius: 15px;
  width: 450px;
  height: 770px;
  display: flex;
  flex-direction: column;
}

.item-sobre img {
  border-bottom: rgb(255, 255, 255) 7px solid;
  width: 450px;
  height: 450px;
  border-radius: 15px 15px 0 0;
}

.item-sobre h2 {
  color: #fff;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.item-sobre p {
  color: #fff;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.item-sobre > div {
  height: 250px;
  padding: 0 30px;
}

.index-main {
  background: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-main > section {
  width: 100%;
}

.index-main .shark-title {
  font-family: "Poppins";
  font-size: 40px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-image: url("../image/shark_image7.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  width: 100%;
  margin-top: 30px;
}

.index-content {
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 134, 255, 1) 34%,
    rgba(0, 254, 245, 1) 100%
  );
  height: 100%;
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.index-content > .text-infos {
  display: flex;
  justify-content: center;
  gap: 15rem;
  text-align: center;
}

.index-content h1 {
  font-family: "Poppins";
  font-size: 40px;
  color: #000000;
}

.index-content p {
  font-family: "Roboto";
  font-size: 20px;
  color: #000000;
}

.items-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.items-box .link-elements {
  margin: 5rem;
  display: flex;
}

.item-index {
  width: 370px;
  height: 180px;
  padding: 25px;
  background: #000;
  border: #fff solid;
  border-width: 0.5px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-decoration: none;
  color: #fff;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.item-index h3 {
  padding: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.item-index:hover {
  transform: scale(1.05);
}
