@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Croissant+One&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  margin: 0;
  background: #000;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

header {
  border-bottom: 2px solid #616161;
  width: 100%;
}

.Navbar {
  background: #212529;
  display: flex;
  padding: 0px;
  font-family: sans-serif;
  gap: 5rem;
  justify-content: space-around;
  color: #fff;
  align-items: center;
}

.Navbar img {
  width: 100px;
  height: 100px;
}

.Navbar__Items > .Navbar__Link {
  margin: 0px 20px;
  padding: 4px;
}

.Navbar__Items > .Navbar__Link:hover {
  background: rgba(82, 82, 82, 0.75);
  border-radius: 10px;
  padding: 2px;
  border: 2px solid #ff00e6;
}

.Navbar__Link a {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.Link_Element-1 {
  background: linear-gradient(90deg, #ff00e6 0%, #fff500 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Link_Element-2 {
  background: linear-gradient(90deg, #fff500 0%, #fff859 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Link_Element-3 {
  background: linear-gradient(90deg, #fff859 0%, #fff500 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Link_Element-4 {
  background: linear-gradient(90deg, #fff500 0%, #ff00e6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logotype {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Croissant One";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.56px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 10px 10px;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

main {
  min-height: 100vh;
}

footer {
  border-top: 2px solid #616161;
  display: flex;
  align-items: center;
  height: 60px;
  background: #212529;
  color: #fff;
}

footer > p {
  margin: 0 auto;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main form {
  font-family: "Roboto", sans-serif;
  background: #212529;
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 750px;
  border-radius: 15px;
  color: #fff;
  gap: 25px;
  position: absolute;
  /**/
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
}

.background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 750px;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #fff500 0deg,
    #ff7a00 125.99999785423279deg,
    #ff00e6 244.80000257492065deg,
    #ad00ff 360deg
  );
  filter: blur(110px);
  z-index: -1;
}

main form input,
textarea {
  color: #fff;
}

main form input::placeholder,
textarea::placeholder {
  color: #bbbbbb;
}

main form input:hover,
textarea:hover {
  border-radius: 5px;
  background: rgba(82, 82, 82, 0.75);
}

main form input:focus,
textarea:focus {
  border-radius: 5px;
  background: rgba(53, 53, 53, 0.75);
}

main form input[type="submit"]:hover {
  background: #ff00e6;
  box-shadow: 0px 0px 5px 2px #6e00a1;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.social-medias {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}

.social-medias i:hover {
  background: rgba(82, 82, 82, 0.75);
  border-radius: 10px;
  padding: 2px;
  border: 2px solid #ff00e6;
}

.social-medias i {
  font-size: 30px;
  color: #fff;
  padding: 4px;
}

form input:not([type="submit"]) {
  margin-top: 5px;
  padding: 10px;
  background: none;
  outline: none;
  border-style: none;
  border-bottom: 1px solid #ffffff2f;
}

form input[type="submit"] {
  background: #616161;
  font-family: "Roboto", sans-serif;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

textarea {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  margin-top: 5px;
  background: none;
  outline: none;
  border-style: none;
  border: 1px solid #ffffff2f;
  border-radius: 10px;
  resize: none;
}

@media only screen and (max-width: 870px) {
  .Navbar {
    gap: 3rem;
  }
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    margin: 35px;
  }
}

@media screen and (max-width: 1120px) {
  .Navbar__Items a {
    font-size: 14px;
    text-align: center;
  }

  .Navbar__Items > .Navbar__Link {
    margin: 0px 5px;
    padding: 4px;
  }
}

@media screen and (max-width: 768px) {
  main form {
    width: 450px;
    height: 450px;
    padding: 20px;
    margin: 0 auto;
  }

  .background {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 520px) {
  main form {
    width: 320px;
    height: 320px;
    padding: 20px;
    margin: 0 2px;
  }

  .logotype {
    font-size: 24px;
    margin-right: 30px;
  }

  .background {
    width: 250px;
    height: 250px;
  }
}

.about-container {
  gap: 50px;
  padding: 50px;
  background-image: url("../image/_76ac2d45-6500-4317-9742-e7fdf0f9d378.jpg");
  background-size: cover;
  background-position: center;
}

.block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  width: 1400px;
  height: 550px;
  background: linear-gradient(180deg, #0b0069 0%, #5900ff54 100%);
}

.content {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px 10px #0000002f;
  backdrop-filter: blur(70px);
  text-align: center;
  width: 520px;
  height: auto;
  padding: 25px;
  border-radius: 25px;
}

.content h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.content p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
